{% extends 'account/base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}

<h3>Reset password</h3>
{# check if the link is valid #}
{% if validlink %}

<p>Enter your password twice:</p>
{# form for password set #}
<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" name="Change password">
</form>

{% else %}{# invalid link #}
<p>The link was invalid. Request a new password reset.</p>
{% endif %}

{% endblock %}